<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0 disp-flex">
                    <div class="mb-0">
                        <h3>Liste des utilisateurs</h3>
                        <p>{{length}} Utilisateurs</p>
                    </div>
                    <div class="mb-0" style="display:grid">
                        <button class="btn btn-primary" routerLink="/admin/ajouter-user">Ajouter un utilisateur</button>
                        <form
                            class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto mt-3">
                            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">search</i></span>
                                    </div>
                                    <input class="form-control" placeholder="Rechercher" type="text" #input>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <div class="product">
                    <mat-card *ngIf="dataSource.loading$ | async"
                        style="display: flex; justify-content: center; align-items: center">
                        <mat-progress-spinner mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card>
                    <table mat-table [dataSource]="dataSource" matSort
                        class="table  mat-elevation-z8 align-items-center table-flush">
                        <!-- Demande number Column -->
                        <!--'matriculefiscal','raisonsocial','email','tel','ville','secteur'-->
                        
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element">{{element.email}} </td>
                        </ng-container>
                       

                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</th>
                            <td mat-cell *matCellDef="let element">{{element.createdAt | date:'medium'}} </td>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" class="d-flex">
                                
                                <button class="dropdown-item" routerLink="/admin/users/consulter-user"
                                    [queryParams]="{id: element._id}"><i
                                        class="material-icons">edit</i></button>

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
                    </table>


                </div>
                <div class="card-footer py-4">
                    <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5,10]"></mat-paginator>
                </div>
            </div>

        </div>
    </div>

</div>